{% extends 'fast/base.html' %}
{% load static %}
{% block content %}

 
 

        <div class="welcome-area">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text text-center">
                            <h2>Land Freight</h2>
                            <ul class="page-location">
                                <li><a href="{% url 'services' %}">Service</a></li>
                                <li>/</li>
                                <li><a href="{% url 'land-freight' %}">Land Freight</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

            <!--SERVICE AREA-->
        <section class="service-area-two section-padding gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 pull-right">
                        <div class="service-details-content">
                            <div class="service-image">
                                <img src="{% static 'fast/img/blog/bg.jpg' %}" alt="">
                            </div>
                            <div class="service-details-text">
                                <h3>Land Freight</h3>
                                <p>Great Height logistics Company land freight services offer a highly flexible and a cost-effective solution to your road transport requirements. Our road transport service providers are equipped with appropriate country specific permits thereby ensuring timely and hassle free deliveries to their respective destinations.
                                    We can offer the following Services</p>
                                <blockquote>- Full truckload (FTL)<br>
                                    - Less truckload (LTL)<br>
                                    - Hazardous cargo<br>
                                    - Refrigerated cargo<br>
                                    - Cross-border trades (GCC)</blockquote>
                                <p>
                                    <b>Special features</b><br>
                                    - Service to most of the GCC locations<br>
                                    - Reliable transit schedules<br><br>

                                    <b>Great Height logistics Company benefits for:-</b><br>
                                    - Single point of contact<br>
                                    - Regular and timely status updates<br>
                                    - Simplified transportations and freight process</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="faqs-left-img">
                                        <img src="{% static 'fast/img/2.jpg' %}" alt=""> -->
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                    <div class="faqs-list">
                                        <h3>why choose Great Height logistics</h3>
                                        <div class="panel-group" id="accordion">
                                            <div class="panel active">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_one"><i class="fa fa-minus"></i>Single point of contact</a>
                                                    </h4>
                                                </div>
                                                <div id="faqs_one" class="panel-collapse collapse">
                                                    <div class="panel-body">In Great Height logistics Company we reach our clients around the globe from a primary source</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_two"><i class="fa fa-minus"></i>Regular and timely status updates</a>
                                                    </h4>
                                                </div>
                                                <div id="faqs_two" class="panel-collapse collapse">
                                                    <div class="panel-body">In Great Height logistics Company we update our clients and their destination in real time of every step we take in sending their packages</div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faqs_three"><i class="fa fa-minus"></i>Simplified transportations and freight process</a>
                                                    </h4>
                                                </div>
                                                <div id="faqs_three" class="panel-collapse collapse">
                                                    <div class="panel-body">Because of our company capacity  and our determination to serve you better, transportation and freight process are like mare formalities</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 pull-left">
                        <div class="service-menu">
                            <h4>Service Details</h4>
                           <ul>
                            <li><a href="{% url 'land-freight' %}">Land Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="{% url 'sea-freight' %}">Sea Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="{% url 'air-freight' %}">Air Freight <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="{% url 'warehouse' %}">Warehouse  <i class="fa fa-angle-right"></i></a></li>
                            <li><a href="{% url 'custom-clearance' %}">Custom Clearance <i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SERVICE AREA END-->
 <!--FOOER AREA-->
     


{% endblock %}