{% extends 'fast/base.html' %}
{% load static %}
{% block content %}



        <div class="welcome-area">
            <div class="area-bg"></div>
            <div class="container">
                <div class="row flex-v-center">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="welcome-text text-center">
                            <h2>Services</h2>
                            <ul class="page-location">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li>/</li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--END TOP AREA-->

     <!--SERVICE AREA-->
        <section class="service-area-two section-padding gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                        <div class="area-title text-center wow fadeIn">
                            <h2>Our Service</h2>
                            <p style="text-align:justify;">EXPRESSGIG Couriers  provides you with a cost effective Total Logistics & Transportation Services that are tailor- made to meet your precise requirements, leaving you free to stay focused on your core business activities. EXPRESSGIG Couriers Company global network relying on its overseas partners with whom we have built up a confidence and trust that has resulted fruitful tie up. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                        <div class="service-content wow fadeIn">
                            <h2>we offer quick & powerful logistics solution</h2>
                            <p>and meets the needs of Global Commerce by providing Transportation & Logistics Services by Air, Sea & Land to & from any part of the Globe.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="service-two-content wow fadeIn">
                            <div class="row no-margin">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                                    <div class="single-service-two border">
                                        <div class="service-icon-two"><i class="fa fa-truck"></i></div>
                                        <h4>Land freight</h4>
                                        <p>Highly flexible and a cost-effective solution to your road transport requirements.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                                    <div class="single-service-two border-top border-bottom border-right">
                                        <div class="service-icon-two"><i class="fa fa-plane"></i></div>
                                        <h4>air freight</h4>
                                        <p>Delivery services, with daily arrivals into USA airport from the world's leading industrial markets.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                                    <div class="single-service-two border-left border-right border-bottom">
                                        <div class="service-icon-two"><i class="fa fa-ship"></i></div>
                                        <h4>sea freight</h4>
                                        <p>Strong alliance with shipping companies and global freight partners.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                                    <div class="single-service-two border-right border-bottom">
                                        <div class="service-icon-two"><i class="fa fa-dropbox"></i></div>
                                        <h4>ware house</h4>
                                        <p>Warehousing service or combining it with other services to serve your needs.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                                    <div class="single-service-two border-left border-right border-bottom">
                                        <div class="service-icon-two"><i class="fa fa-cog"></i></div>
                                        <h4>consulting</h4>
                                        <p>Need more insite from our professionals in logistics</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                                    <div class="single-service-two border-right border-bottom">
                                        <div class="service-icon-two"><i class="fa fa-bicycle"></i></div>
                                        <h4>fast delevary</h4>
                                        <p>We focus on fast transits and regular communication.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SERVICE AREA END-->
    <!--PROMO AREA-->
    <section class="promo-area">
        <div class="promo-bottom-area section-padding">
            <div style="background: rgba(0, 0, 0, 0) url('{% static "fast/img/promo/wi3.jpeg" %}') no-repeat scroll center center / cover;
                 height: 100%; left: 0; position: absolute; top: 0; width: 100%;" class="promo-botton-area-bg" data-stellar-background-ratio="0.6"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                        <div class="promo-bottom-content wow fadeIn">
                            <h2>we provide international freight &amp; logistics service worldwide</h2>
                            <!-- <a href="user/contact-us-2.html" class="read-more">Get a quote</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--PROMO AREA END-->

    <!--BLOG AREA-->
    <section class="blog-area gray-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Freight Services</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-image">
                                   <img src="{% static 'fast/img/blog/blog_1.jpeg' %}" alt="">
                            </div>
                            <div class="blog-details text-center">
                                <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                                <h3><a href="{% url 'sea-freight' %}">Sea Freight</a></h3>
                                <p>EXPRESSGIG Couriers and Shipping Company having its strong alliance with shipping companies and global freight partners enables to offer cost effective sea freight..</p>
                                <a href="{% url 'sea-freight' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft">
                        <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                            <div class="blog-image">
                                <img src="{% static 'fast/img/blog/bgg.jpg' %}" alt="">
                            </div>
                            <div class="blog-details text-center">
                                <div class="blog-meta"><a href="#"><i class="fa fa-plane"></i></a></div>
                                <h3><a href="{% url 'air-freight' %}">Air Freight</a></h3>
                                <p>EXPRESSGIG Couriers and Shipping provides national delivery services, with daily arrivals into USA's airport from the world's leading industrial markets..</p>
                                <a href="{% url 'air-freight' %}" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 wow fadeInLeft">
                        <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                            <div class="blog-image">
                                <img src="{% static 'fast/img/blog/bg.jpg' %}" alt="">
                            </div>
                            <div class="blog-details text-center">
                                <div class="blog-meta"><a href="#"><i class="fa fa-truck"></i></a></div>
                                <h3><a href="{% url 'land-freight' %}">Land Freight</a></h3>
                                <p>EXPRESSGIG Couriers and Shipping land freight services offer a highly flexible and a cost-effective solution to your road transport requirements..</p>
                                <a href="{% url 'land-freight' %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->

    
 <!--FOOER AREA-->
 
 
    

{% endblock %}